extends layout

block content
  main.container
    h1.text-center #{title} 

    ul.decks-list
      h4 #{card.word}
      button#answer Answer
      p.hidden #{card.answer}
      p.hidden #{card.info}
    
    button#nextCard
      a(href=`/deck/${id}?index=${currentIndex + 1}`) Next
    
  
          
          
            