extends layout

block content
  main.container
    h1.text-center Flash Cards

    ul.decks-list
      if decks.length === 0
        li
          b.text-center Don't have decks 😃
      else
        each deck in decks
          li 
            a(href=`/deck/${deck.id}`) #{deck.title}
            h4 Dificulty: #{deck.difficulty}
            p Info: #{deck.info}
            p N° of cards: #{deck.num_cards}
            
            