extends layout

block content
  main.container
    h1.text-center #{title} 

    div.card-container
      h4 #{card.word}
      button#answer Answer
      
      div.answer-container
        p.hidden #{card.answer}
        p.hidden #{card.info}

    div.navigation
      button#prevCard(
        data-url=`/deck/${id}/prev?index=${currentIndex}&hasPrev=${hasPrev}&long=${deckLength}`
        disabled=!hasPrev
      ) Prev
      button#nextCard(
        data-url=`/deck/${id}/next?index=${currentIndex}&hasNext=${hasNext}`
        disabled=!hasNext
      ) Next

  div.menu-actions
    button#menuButton(data-url="/menu") Menu
    button#editDeck(data-url=`/deck/${id}/edit`) Edit Deck
          
          
            