extends layout

block content
  main.container
    h1
      span Flash Cards

    ul.decks-list
      if decks.length === 0
        li
          b.text-center Don't have decks 😃
      else
        each deck in decks
          a(href=`/deck/${deck.id}`) 
            li
              h2 #{deck.title} 
              p Dificulty: #{deck.difficulty}
              p Info: #{deck.info}
              p N° of cards: #{deck.num_cards}
            
            